@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sekuya&family=Syne:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: IBM plex sans;
    user-select: none;
}

/* ================
       HEADER
===================*/

header {
    position: sticky;
    transition: transform 0.3s ease;
    top: 0;
    z-index: 100;
    background: #2218ed;
    background: linear-gradient(134deg, rgba(34, 24, 237, 1) 0%, rgba(39, 174, 242, 1) 43%);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-hidden {
    transform: translateY(-100%);
}

.logo {
    text-decoration: none;
}

.logo-speak {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.logo-up {
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 2rem;
    margin-left: 0.2rem;
    font-weight: bold;
    padding: 0.1rem 0.2rem;
}

nav {
    display: none;
}

.burger-icon {
    color: white;
    font-size: 2rem;
}

/* ================
    INTRODUCTION
===================*/

.introduction {
    padding-top: 1rem;
    padding-bottom: 10rem;
    background: url(src/intro-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.introduction-elements {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.elements-bg {
    background-color: rgba(255, 255, 255, 0.075);
    /* Semi-transparent */
    backdrop-filter: blur(10px);
    /* Blurs content behind */
    -webkit-backdrop-filter: blur(10px);
}

.intro-title {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    margin: 0;
    margin-top: 2rem;
    margin-left: 1rem;
}

.intro-text {
    color: white;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.introduction-elements a {
    background-color: #0074e7;
    padding: 1.5rem 3rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    border-radius: 100px;
    font-weight: bold;
    margin-top: 3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* ================
    HOW IT WORKS
===================*/

.how-it-works {
    padding-top: 0.5rem;
    padding-bottom: 4em;
    background-color: #0074e7;
}

.how-it-works-title {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin-left: 1rem;
}

.how-it-works-elements {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
}

.how-it-works-elements hr {
    transform: rotate(90deg);
    width: 2rem;
    border: 2px solid white
}

.roadmap {
    background-color: white;
    width: 75%;
    border-radius: 20px;
    padding: 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.roadmap p {
    margin: 0 auto;
}

.roadmap i {
    margin-right: 1rem;
}

/* ================
      BENEFITS
===================*/

.benefits {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.benefits-title {
    font-size: 2rem;
    color: #0074e7;
    font-weight: bold;
    text-align: right;
    margin-right: 1rem;
}

.benefits-elements {
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
}

.benefit {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.benefit-icon {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #0074e7;
    padding: 1rem 1.4rem;
    margin: 0;
    border-radius: 30px;
}

.benefit-title {
    margin-bottom: 0;
    font-weight: bold;
    color: #0074e7;
    font-size: 1.2rem;
}

.benefit-text {
    color: #0074e7;
    text-align: center;
}

/* ================
      COURSES
===================*/

.courses {
    padding-top: 0.5rem;
    padding-bottom: 4rem;
    background-color: #0074e7;
}

.courses-title {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: left;
    margin-left: 1rem;
}

.courses-elements {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
}

.course-body {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.course-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.course-text {
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
}

/* ================
      REVIEWS
===================*/

.reviews {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.reviews-title {
    font-size: 2rem;
    color: #0074e7;
    font-weight: bold;
    text-align: center;
}

.reviews-elements {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
}

.review-body {
    margin-left: 1rem;
    margin-right: 1rem;
}

.review-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #0074e7;
    font-size: 1.2rem;
    font-weight: bold;
}

.review-title i {
    color: white;
    background-color: #0074e7;
    padding: 0.5rem 0.5rem;
    border-radius: 30px;
}

.review-text {
    color: #0074e7;
}

.review-text i {
    color: rgb(255, 157, 0);
}


/* ================
        CTA
===================*/

.CTA {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: url(src/CTA-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.CTA-elements {
    padding: 2rem 0rem;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.59);
}

.CTA-title {
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
}

.CTA-text {
    color: white;
    width: 70%;
}

.CTA-elements a {
    margin: 2rem;
    background-color: #0074e7;
    border-radius: 30px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

/* ================
      QUESTIONS
===================*/

.questions {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.questions-title {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    padding: 1rem 1rem;
    border-radius: 0px 30px 30px 0px;
    background: #2218ed;
    background: linear-gradient(134deg, rgba(34, 24, 237, 1) 0%, rgba(39, 174, 242, 1) 43%);
    width: 20rem;
}

.questions-elements {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
}

.question-body {
    background-color: #0074e7;
    color: white;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    font-size: 1.2rem;
    width: 23rem;
}

.question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.question-text {
    margin-left: 1rem;
    margin-right: 1rem;
}